<h1>Meetups</h1>

<ul>
  <% @meetups.each do |meetup| %>
    <li><a href="/meetups/<%= meetup.id %>"><%= "#{meetup.name}" %></a> - <%= "#{meetup.location}" %></li>
  <% end %>
</ul>
<a href="/meetups/new">Add New</a>
